In [5]:
import pandas as pd 
df = pd.read_csv('C:/Users/REGGIE/Desktop/数据分析资料/data/house_data.csv')
df.head(4)

   Unnamed: 0                             標題  产权性质  住宅类别 建筑类别  参考月供  ...        楼层      物 业 费 物业类型   结构   装修      總價
0           0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  ...   中层(共6层)       暂无资料   住宅   平层  精装修    30.6
1           1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  ...   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2           2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0
3           3       精装二房全明户型户型好客厅主卧朝南带阳台看房方便   商品房   NaN   板楼   NaN  ...   高层(共6层)  0.4元/平米・月   住宅   平层  简装修   280.0

[4 rows x 15 columns]

In [6]:
del df['Unnamed: 0']
df.head(4)

                              標題  产权性质  住宅类别 建筑类别  参考月供     年代  ...        楼层      物 业 费 物业类型   结构   装修      總價
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  1989年  ...   中层(共6层)       暂无资料   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  1989年  ...   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  2005年  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0
3       精装二房全明户型户型好客厅主卧朝南带阳台看房方便   商品房   NaN   板楼   NaN  1994年  ...   高层(共6层)  0.4元/平米・月   住宅   平层  简装修   280.0

[4 rows x 14 columns]

In [23]:
#设置新的索引
df = pd.read_csv('C:/Users/REGGIE/Desktop/数据分析资料/data/house_data.csv', index_col=0)
df.head(3)

                              標題  产权性质  住宅类别 建筑类别  参考月供     年代  ...        楼层      物 业 费 物业类型   结构   装修      總價
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  1989年  ...   中层(共6层)       暂无资料   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  1989年  ...   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  2005年  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0

[3 rows x 14 columns]

In [29]:
#处理'暂无资料'这种情况
import numpy as np 
#df[df['物 业 费']=='暂无资料']
df.loc[df['物 业 费']=='暂无资料', '物 业 费'] = np.nan
df.head(6)

                              標題  产权性质  住宅类别 建筑类别  参考月供     年代  ...        楼层       物 业 费 物业类型   结构   装修      總價
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  1989年  ...   中层(共6层)         NaN   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  1989年  ...   中层(共6层)     1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  2005年  ...  高层(共40层)   3.5元/平米・月   住宅  NaN  精装修  2650.0
3       精装二房全明户型户型好客厅主卧朝南带阳台看房方便   商品房   NaN   板楼   NaN  1994年  ...   高层(共6层)   0.4元/平米・月   住宅   平层  简装修   280.0
4   满五税费少,房东接受置换客户,房东这边房子已经看好,急卖  个人产权  普通住宅   钢混   NaN  1998年  ...   高层(共6层)   0.4元/平米・月   住宅   平层  精装修   190.0
5              延吉控江一楼天井精装修水丰南北通透   商品房   NaN   板楼   NaN  1986年  ...   低层(共6层)  0.85元/平米・月   住宅   平层  简装修   205.0

[6 rows x 14 columns]

In [124]:
#在读取数据时，直接对'暂无资料'这种情况的处理
import pandas as pd
df = pd.read_csv('C:/Users/REGGIE/Desktop/数据分析资料/data/house_data.csv',na_values='暂无资料',index_col=0)
df.head(3)

                              標題  产权性质  住宅类别 建筑类别  参考月供     年代  ...        楼层      物 业 费 物业类型   结构   装修      總價
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  1989年  ...   中层(共6层)        NaN   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  1989年  ...   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  2005年  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0

[3 rows x 14 columns]

In [125]:
?pd.read_csv

In [126]:
#检查后三行数据
df.tail(4)

                                 標題  产权性质   住宅类别 建筑类别  参考月供     年代  ...        楼层       物 业 费 物业类型  结构   装修      總價
236                     11号线地铁口 可贷款  个人产权  酒店式公寓   板楼   NaN  2015年  ...   高层(共6层)     4元/平米・月   住宅  复式  精装修    55.0
237  6.12双轨，交通便利，配套成熟，购物方便，房东可接受置换！  个人产权   普通住宅   钢混   NaN  2005年  ...   高层(共8层)  1.86元/平米・月   住宅  平层  精装修   460.0
238       业主二次装修，保养好，户型方正，三房朝南，，随时看  个人产权   普通住宅   板楼   NaN  2002年  ...  高层(共20层)     2元/平米・月   住宅  平层  简装修  1250.0
239   区进门位置 三街坊43平直套通风一房 一梯二户 房东诚心卖  个人产权   普通住宅   板楼   NaN  1996年  ...   高层(共7层)   0.3元/平米・月   住宅  平层  简装修   278.0

[4 rows x 14 columns]

In [127]:
#dataframe的信息
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 14 columns):
標題       240 non-null object
产权性质     228 non-null object
住宅类别     218 non-null object
建筑类别     188 non-null object
参考月供     0 non-null float64
年代       224 non-null object
建筑面积     240 non-null float64
户型       240 non-null object
楼层       228 non-null object
物 业 费    215 non-null object
物业类型     240 non-null object
结构       181 non-null object
装修       228 non-null object
總價       237 non-null float64
dtypes: float64(3), object(11)
memory usage: 28.1+ KB

In [128]:
#检查字段名称
#修改列名
df.rename(columns = {'標題':'标题','總價':'总价'},inplace = True)
df.columns

Index(['标题', '产权性质', '住宅类别', '建筑类别', '参考月供', '年代', '建筑面积', '户型', '楼层', '物 业 费',
       '物业类型', '结构', '装修', '总价'],
      dtype='object')

In [129]:
df.dtypes

标题        object
产权性质      object
住宅类别      object
建筑类别      object
参考月供     float64
年代        object
建筑面积     float64
户型        object
楼层        object
物 业 费     object
物业类型      object
结构        object
装修        object
总价       float64
dtype: object

In [130]:
#叙述性统计
df.describe()
#月供全是缺失值，总价行数不是240行，所以存在缺失值

       参考月供        建筑面积            总价
count   0.0  240.000000    237.000000
mean    NaN  113.435333    646.092869
std     NaN   99.199836   1300.349319
min     NaN   22.500000     30.600000
25%     NaN   68.952500    220.000000
50%     NaN   88.155000    400.000000
75%     NaN  123.250000    578.000000
max     NaN  731.240000  11000.000000

In [131]:
#检查缺失值
df.isnull().any()

标题       False
产权性质      True
住宅类别      True
建筑类别      True
参考月供      True
年代        True
建筑面积     False
户型       False
楼层        True
物 业 费     True
物业类型     False
结构        True
装修        True
总价        True
dtype: bool

In [132]:
#多少个缺失值
df.isnull().sum()

标题         0
产权性质      12
住宅类别      22
建筑类别      52
参考月供     240
年代        16
建筑面积       0
户型         0
楼层        12
物 业 费     25
物业类型       0
结构        59
装修        12
总价         3
dtype: int64

In [133]:
#缺失值占比
df.isnull().sum()/df.count()

标题       0.000000
产权性质     0.052632
住宅类别     0.100917
建筑类别     0.276596
参考月供          inf
年代       0.071429
建筑面积     0.000000
户型       0.000000
楼层       0.052632
物 业 费    0.116279
物业类型     0.000000
结构       0.325967
装修       0.052632
总价       0.012658
dtype: float64

In [134]:
#删除有缺失值字段
df.head(3)

                              标题  产权性质  住宅类别 建筑类别  参考月供     年代  ...        楼层      物 业 费 物业类型   结构   装修      总价
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼   NaN  1989年  ...   中层(共6层)        NaN   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼   NaN  1989年  ...   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN   NaN  2005年  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0

[3 rows x 14 columns]

In [135]:
df = df.drop('参考月供',axis =1)
df

                                   标题  产权性质   住宅类别 建筑类别     年代    建筑面积  ...        楼层       物 业 费 物业类型   结构   装修      总价
0       急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权   普通住宅   板楼  1989年   70.40  ...   中层(共6层)         NaN   住宅   平层  精装修    30.6
1            世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权   普通住宅   塔楼  1989年   49.82  ...   中层(共6层)     1元/平米・月   住宅   平层  简装修   418.0
2                   大四房出售，带会所+高区景观+车位  个人产权   普通住宅  NaN  2005年  288.30  ...  高层(共40层)   3.5元/平米・月   住宅  NaN  精装修  2650.0
3            精装二房全明户型户型好客厅主卧朝南带阳台看房方便   商品房    NaN   板楼  1994年   56.00  ...   高层(共6层)   0.4元/平米・月   住宅   平层  简装修   280.0
4        满五税费少,房东接受置换客户,房东这边房子已经看好,急卖  个人产权   普通住宅   钢混  1998年   58.00  ...   高层(共6层)   0.4元/平米・月   住宅   平层  精装修   190.0
..                                ...   ...    ...  ...    ...     ...  ...       ...         ...  ...  ...  ...     ...
235  年后降价急售―150万硬装+中央空调+地暖―120平花园―双车位   NaN    NaN  NaN    NaN  214.00  ...       NaN   1.9元/平米・月   别墅  NaN  NaN   810.0
236                       11号线地铁口 可贷款  个人产权  酒店式公寓   板楼  2015年   45.00  ...   高层(共6层)     4元/平米・月   住宅   复式  精装修    55.0
237    6.12双轨，交通便利，配套成熟，购物方便，房东可接受置换！  个人产权   普通住宅   钢混  2005年   96.82  ...   高层(共8层)  1.86元/平米・月   住宅   平层  精装修   460.0
238         业主二次装修，保养好，户型方正，三房朝南，，随时看  个人产权   普通住宅   板楼  2002年  168.00  ...  高层(共20层)     2元/平米・月   住宅   平层  简装修  1250.0
239     区进门位置 三街坊43平直套通风一房 一梯二户 房东诚心卖  个人产权   普通住宅   板楼  1996年   43.13  ...   高层(共7层)   0.3元/平米・月   住宅   平层  简装修   278.0

[240 rows x 13 columns]

In [136]:
#筛选数据
#产权性质类别
df['产权性质'].value_counts()

个人产权     171
商品房       54
经济适用房      2
售后公房       1
Name: 产权性质, dtype: int64

In [137]:
#df['产权性质'] == '个人产权'
df[df['产权性质'] == '个人产权'].head(3)

                              标题  产权性质  住宅类别 建筑类别     年代    建筑面积        户型        楼层      物 业 费 物业类型   结构   装修      总价
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼  1989年   70.40  2室2厅1厨1卫   中层(共6层)        NaN   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼  1989年   49.82  2室1厅0厨1卫   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  4室2厅0厨2卫  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0

In [138]:
#根据位置提取数据
df.iloc[5:7]

                      标题 产权性质 住宅类别 建筑类别     年代   建筑面积        户型       楼层       物 业 费 物业类型   结构   装修      总价
5      延吉控江一楼天井精装修水丰南北通透  商品房  NaN   板楼  1986年   35.0  1室2厅1厨1卫  低层(共6层)  0.85元/平米・月   住宅   平层  简装修   205.0
6  纯双拼别墅，外环旁低总价，奢华大厅，美极了  NaN  NaN  NaN    NaN  237.0  4室3厅1厨4卫      NaN   3.8元/平米・月   别墅  NaN  NaN  1000.0

In [139]:
df.loc[(df['建筑面积'] > 100) & (df['总价'] > 2000)].head(3)

                                   标题  产权性质  住宅类别 建筑类别     年代    建筑面积  ...        楼层       物 业 费 物业类型   结构   装修      总价
2                   大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  ...  高层(共40层)   3.5元/平米・月   住宅  NaN  精装修  2650.0
11     绿城豪宅，精品纯独栋，格局方正，双南设计，全明通透，豪华气派   NaN   NaN  NaN    NaN  502.00  ...       NaN  6.5元/平方米・月   别墅  NaN  NaN  2798.0
60  华府天地主营专员+价格可谈+1层1户+看房方便+送车位+高区看湖景  个人产权  普通住宅  NaN  2006年  454.82  ...  高层(共21层)  14.5元/平米・月   住宅  NaN  精装修  5500.0

[3 rows x 13 columns]

In [140]:
df.loc[(df['总价'] > 2500)]

                                    标题  产权性质  住宅类别 建筑类别     年代    建筑面积  ...        楼层       物 业 费 物业类型   结构    装修       总价
2                    大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  ...  高层(共40层)   3.5元/平米・月   住宅  NaN   精装修   2650.0
11      绿城豪宅，精品纯独栋，格局方正，双南设计，全明通透，豪华气派   NaN   NaN  NaN    NaN  502.00  ...       NaN  6.5元/平方米・月   别墅  NaN   NaN   2798.0
60   华府天地主营专员+价格可谈+1层1户+看房方便+送车位+高区看湖景  个人产权  普通住宅  NaN  2006年  454.82  ...  高层(共21层)  14.5元/平米・月   住宅  NaN   精装修   5500.0
103        每一座传世尊邸稀若上天恩赐。。此房仅献给少数人中的少数   NaN   NaN  NaN    NaN  558.00  ...       NaN  5.95元/平米・月   别墅  NaN   NaN   2780.0
120           九间堂总价低+800平花园+随意装修+超华洲君庭   NaN   NaN  NaN    NaN  551.00  ...       NaN     6元/平米・月   别墅  NaN   NaN  10000.0
121    九间堂别墅+性价比醉高+前后600平庭院+随意设计！超东郊壹号   NaN   NaN  NaN    NaN  625.89  ...       NaN     6元/平米・月   别墅  NaN   NaN  10000.0
122        九间堂+1200平大花园+双面临水+中位置+业主急售！   NaN   NaN  NaN    NaN  731.24  ...       NaN     6元/平米・月   别墅  NaN   NaN  11000.0
142                  !星河湾三期样板间！独有4.2！！  个人产权  普通住宅  NaN  2015年  375.00  ...  高层(共21层)     4.9元/・月   住宅  NaN  豪华装修   4000.0
143           西郊宾馆旁，千林海内，密度低一手现房，复地御西郊  个人产权  普通住宅  NaN  2015年  350.00  ...   高层(共7层)    13.8元/・月   住宅  NaN  豪华装修   3000.0
179      业主定居国外―无奈出售爱房―一手房高区已经售完，从未入住，  个人产权  普通住宅  NaN  2015年  382.00  ...  高层(共20层)      11元/・月   住宅   平层  豪华装修   5800.0

[10 rows x 13 columns]

In [141]:
#保留产权性质为个人产权的数据
df = df[df['产权性质']=='个人产权']
df.head(2)

                              标题  产权性质  住宅类别 建筑类别     年代   建筑面积        户型       楼层    物 业 费 物业类型  结构   装修     总价
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼  1989年  70.40  2室2厅1厨1卫  中层(共6层)      NaN   住宅  平层  精装修   30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼  1989年  49.82  2室1厅0厨1卫  中层(共6层)  1元/平米・月   住宅  平层  简装修  418.0

In [142]:
#删除存在缺失值的字段
df.head(3)

                              标题  产权性质  住宅类别 建筑类别     年代    建筑面积        户型        楼层      物 业 费 物业类型   结构   装修      总价
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼  1989年   70.40  2室2厅1厨1卫   中层(共6层)        NaN   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼  1989年   49.82  2室1厅0厨1卫   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  4室2厅0厨2卫  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0

In [143]:
df.isnull()

        标题   产权性质   住宅类别   建筑类别     年代   建筑面积     户型     楼层  物 业 费   物业类型     结构     装修     总价
0    False  False  False  False  False  False  False  False   True  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False  False  False  False
2    False  False  False   True  False  False  False  False  False  False   True  False  False
4    False  False  False  False  False  False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False   True  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
234  False  False  False  False  False  False  False  False  False  False  False  False  False
236  False  False  False  False  False  False  False  False  False  False  False  False  False
237  False  False  False  False  False  False  False  False  False  False  False  False  False
238  False  False  False  False  False  False  False  False  False  False  False  False  False
239  False  False  False  False  False  False  False  False  False  False  False  False  False

[171 rows x 13 columns]

In [144]:
df[df['建筑类别'].isnull()].head(3)

                                标题  产权性质  住宅类别 建筑类别     年代    建筑面积  ...        楼层      物 业 费 物业类型   结构   装修      总价
2                大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  ...  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0
12          月浦八村繁华地段 毗邻公园双南两房 双轨交通  个人产权  普通住宅  NaN  1991年   47.12  ...   高层(共6层)  0.6元/平米・月   住宅  NaN  中装修   180.0
27  投咨300亿山水六旗主题公园 金色海岸 海景房 得房率110  个人产权  普通住宅  NaN  2016年   84.00  ...  中层(共15层)        NaN   住宅  NaN   毛坯    80.0

[3 rows x 13 columns]

In [145]:
df = df.dropna(axis = 1,how ='all')

In [148]:
#补齐缺失值
df['物 业 费'] = df['物 业 费'].fillna(0)

In [149]:
df.head()

                              标题  产权性质  住宅类别 建筑类别     年代    建筑面积        户型        楼层      物 业 费 物业类型   结构   装修      总价
0  急售70年产权房源 房东装修 户型正气 产证清晰 随时看房  个人产权  普通住宅   板楼  1989年   70.40  2室2厅1厨1卫   中层(共6层)          0   住宅   平层  精装修    30.6
1       世纪大道站  福山外国语+建平西校 看房随时急卖  个人产权  普通住宅   塔楼  1989年   49.82  2室1厅0厨1卫   中层(共6层)    1元/平米・月   住宅   平层  简装修   418.0
2              大四房出售，带会所+高区景观+车位  个人产权  普通住宅  NaN  2005年  288.30  4室2厅0厨2卫  高层(共40层)  3.5元/平米・月   住宅  NaN  精装修  2650.0
4   满五税费少,房东接受置换客户,房东这边房子已经看好,急卖  个人产权  普通住宅   钢混  1998年   58.00  2室1厅1厨1卫   高层(共6层)  0.4元/平米・月   住宅   平层  精装修   190.0
7           纪联小区，，大一房一厅，精装修，，！诚售  个人产权  普通住宅   板楼  1996年   50.00  1室1厅1厨1卫   中层(共6层)          0   住宅   平层  精装修   230.0

In [151]:
df['总价'].isnull().sum()

2

In [153]:
df[df['总价'].isnull()]

                               标题  产权性质  住宅类别 建筑类别     年代   建筑面积        户型        楼层      物 业 费 物业类型  结构   装修  总价
18   光新路191弄 南北通透两室户 地段佳 出行方便满五少税  个人产权  普通住宅   板楼  1990年  47.00  2室1厅1厨1卫   低层(共6层)  0.3元/平米・月   住宅  平层  精装修 NaN
175                     精品好房 稍纵即逝  个人产权  普通住宅   钢混  2014年  99.38  3室2厅1厨2卫  中层(共11层)   1.95元/・月   住宅  平层  精装修 NaN

In [152]:
#根据实际情况去填补缺失的总价数据
(df['总价']/df['建筑面积']).mean()

4.5302593877717445

In [154]:
df['总价']= df['总价'].fillna(df['建筑面积']*(df['总价']/df['建筑面积']).mean())

In [164]:
#根据索引取值，记得把索引转化为列表放入并使用df.loc提取
df.loc[[18,175]]

                               标题  产权性质  住宅类别 建筑类别     年代   建筑面积  ...        楼层      物 业 费 物业类型  结构   装修          总价
18   光新路191弄 南北通透两室户 地段佳 出行方便满五少税  个人产权  普通住宅   板楼  1990年  47.00  ...   低层(共6层)  0.3元/平米・月   住宅  平层  精装修  212.922191
175                     精品好房 稍纵即逝  个人产权  普通住宅   钢混  2014年  99.38  ...  中层(共11层)   1.95元/・月   住宅  平层  精装修  450.217178

[2 rows x 13 columns]

In [161]:
df.to_csv('house_final.csv',index_label=False)