In [2]:
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
from datetime import datetime
current_time = datetime.now()
current_time

datetime.datetime(2019, 12, 18, 11, 4, 44, 99133)

In [3]:
type(current_time)

datetime.datetime

In [5]:
current_time.strftime('%Y-%m-%d')

'2019-12-18'

In [7]:
s ='2019-12-18'
datetime.strptime(s,'%Y-%m-%d')

datetime.datetime(2019, 12, 18, 0, 0)

In [13]:
#时间回溯
from datetime import timedelta
oldday = current_time - timedelta(days = 10)

In [14]:
#时间差距
current_time - oldday

datetime.timedelta(days=10)

In [16]:
current_time +timedelta(days = 10)

datetime.datetime(2019, 12, 28, 11, 4, 44, 99133)

In [18]:
for i in range(1,10):
    dt = current_time -timedelta(days = i)
    print(dt.strftime('%Y-%m-%d'))

2019-12-17
2019-12-16
2019-12-15
2019-12-14
2019-12-13
2019-12-12
2019-12-11
2019-12-10
2019-12-09

In [23]:
#UNIXtime
from time import mktime
print(current_time.timetuple())
mktime(current_time.timetuple())

time.struct_time(tm_year=2019, tm_mon=12, tm_mday=18, tm_hour=11, tm_min=4, tm_sec=44, tm_wday=2, tm_yday=352, tm_isdst=-1)

1576667084.0

In [24]:
datetime.fromtimestamp(1576667084)

datetime.datetime(2019, 12, 18, 11, 4, 44)

In [27]:
#pandas 中的时间转换
import pandas as pd
df = pd.read_excel('C:/Users/REGGIE/Desktop/数据分析资料/data/house_sample.xlsx')
df.head()

,Unnamed: 0,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
Unnamed: 0    29 non-null int64
标题            29 non-null object
建筑面积          29 non-null float64
总价            29 non-null int64
户型            29 non-null object
朝向            29 non-null object
物 业 费         29 non-null object
环比上月          29 non-null object
张贴日期          29 non-null object
产权性质          29 non-null object
装修            29 non-null object
楼层            29 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.8+ KB

In [33]:
print(pd.to_datetime(df['张贴日期'], format= '西元%Y年%m月%d日'))
df['张贴日期'] = pd.to_datetime(df['张贴日期'], format= '西元%Y年%m月%d日')

0    2017-04-12
1    2017-04-13
2    2017-04-14
3    2017-04-15
4    2017-04-16
5    2017-04-17
6    2017-04-18
7    2017-04-19
8    2017-04-20
9    2017-04-21
10   2017-04-14
11   2017-04-15
12   2017-04-16
13   2017-04-17
14   2017-04-18
15   2017-04-19
16   2017-04-14
17   2017-04-15
18   2017-04-16
19   2017-04-17
20   2017-04-18
21   2017-04-19
22   2017-04-17
23   2017-04-18
24   2017-04-14
25   2017-04-15
26   2017-04-16
27   2017-04-17
28   2017-04-18
Name: 张贴日期, dtype: datetime64[ns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
Unnamed: 0    29 non-null int64
标题            29 non-null object
建筑面积          29 non-null float64
总价            29 non-null int64
户型            29 non-null object
朝向            29 non-null object
物 业 费         29 non-null object
环比上月          29 non-null object
张贴日期          29 non-null datetime64[ns]
产权性质          29 non-null object
装修            29 non-null object
楼层            29 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 2.8+ KB