In [1]:
a = '123'
a =='123'

True

In [5]:
import re
a = '1'
#re.search('1',a)
#re.search('[0123456789]',a)
re.search('[0-9]',a)# [0-9] = [0123456789]
re.search('\d',a) #\d =[0-9]

In [10]:
a = 'a'
#re.search('a',a)
re.search('[a-z]',a)
b = 'A'
re.search('[a-zA-Z]',b)

In [13]:
c = '3'
#re.search('[a-zA-Z0-9]',c)
re.search('\w',c) #\w = [a-zA-Z0-9]

In [16]:
a = 'abc'
#re.search('\w{3}',a)
re.search('\w{1,3}',a)

In [20]:
b ='abcdefg'
re.search('\w{1,3}',b)

re.search('\w+',b) #\w+ = 1到无限

re.search('\w*',b)#\w* = 0到无限

In [28]:
a = 'my phone is 134-1234-1234'
re.search('\d{3}-\d{4}-\d{4}',a)

b = 'my phone is 13412341234'
re.search('\d{3}\d{4}\d{4}',b)

In [32]:
a = 'my phone is 134-1234-1234'
b = 'my phone is 13412341234'

re.search('\d{3}-{0,1}\d{4}-{0,1}\d{4}',a)
re.search('\d{3}-{0,1}\d{4}-{0,1}\d{4}',b)


re.search('\d{3}-?\d{4}-?\d{4}',a) #? = {0,1}

In [41]:
#正则表达法范例
email = 'david@largitdata.com'
import re
re.match('\w+@\w+',email)
m = re.match('(\w+)@(\w+)',email)
m.group(1)
m.group(2)
m.groups()

('david', 'largitdata')

In [43]:
#单独的 . 在正则表达里表示除换行符以外的任意字符，所以需要反斜线对此进行一个转义
m = re.match('(\w+)@([a-z\.]+)',email)
m.groups()

('david', 'largitdata.com')

In [46]:
m = re.match('(\w+)@(.+)',email)
m

In [51]:
digit = '1996.15'
m =re.match('(\d+)\.(\d+)',digit)
m.groups()

('1996', '15')

In [60]:
name = 'Daivd Chiu'
m = re.match('(\w+) (\w+)',name)
print(m)

<re.Match object; span=(0, 10), match='Daivd Chiu'>

In [55]:
m = re.match('(?P<first_name>\w+) (?P<last_name>\w+)',name)
m.group('first_name')

'Daivd'

In [78]:
str1 = 'file.txt root@10.0.0.1:./'
m = re.match('([\w\.]+) (\w+)@([\w\.]+):(.+)',str1)
print(m.group(1),m.group(2),m.group(3),m.group(4))

file.txt root 10.0.0.1 ./

In [82]:
#在dataframe中使用正则
import pandas as pd
df = pd.read_csv('C:/Users/REGGIE/Desktop/数据分析资料/data/house_final.csv')
df.head()

,标题,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,总价
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),0,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,1996年,50.00,1室1厅1厨1卫,中层(共6层),0,住宅,平层,精装修,230.0

In [86]:
df['户型'].str.extract('(\d+)室(\d+)厅(\d+)厨(\d+)卫',expand =False)

     0  1  2  3
0    2  2  1  1
1    2  1  0  1
2    4  2  0  2
4    2  1  1  1
7    1  1  1  1
..  .. .. .. ..
234  4  2  1  2
236  2  2  1  1
237  2  2  1  1
238  3  2  1  2
239  1  1  1  1

[171 rows x 4 columns]

In [88]:
df[['室','厅','厨','卫']] = df['户型'].str.extract('(\d+)室(\d+)厅(\d+)厨(\d+)卫',expand =False)

In [89]:
df.head()

,标题,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,总价,室,厅,厨,卫
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),0,住宅,平层,精装修,30.6,2,2,1,1
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0,2,1,0,1
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0,4,2,0,2
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0,2,1,1,1
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,1996年,50.00,1室1厅1厨1卫,中层(共6层),0,住宅,平层,精装修,230.0,1,1,1,1